@using Summit.Core.Extensions
@using Summit.Core.Fields
@using Summit.Core.Helpers;
@{
    var title = Model.ContentItem.TitlePart.Title;
    var concierge = Model.ContentItem.HotelPart.Concierge.ContentItems[0];
    var location = Model.ContentItem.HotelPart.DestinationPart.ContentItem.TitlePart.Title;

    var images = (ImageMultiPickerField)Model.ContentItem.HotelPart.Gallery;
    var image = images.Images.FirstOrDefault();
}

<article style="width: 400px; float: left;">
    <h1>Welcome to the @title, @location</h1>

    @if (concierge != null) {
        <div id="concierge">
            <img src="@Url.Content(concierge.ConciergePart.Image.Url)" alt="" />

            <ul>
                <li>Name @concierge.TitlePart.Title</li>
                @foreach (var field in concierge.ConciergePart.Fields) 
                {
                    if (field.FieldDefinition.Name == "TextField") {
                        <li>@field.DisplayName : @field.Value</li>
                    }
                }
            </ul>
        </div>
    
        <div id="concierge-questions">
              @foreach (var field in concierge.ConciergePart.Fields) 
                {
                    if (field.FieldDefinition.Name == "QuestionField") {
                        <h4>@field.PartFieldDefinition.Settings["QuestionFieldSettings.Question1"].Replace("[location]", location)</h4> 
                        <p>@field.Value</p>
                    }
                }
        </div>
    }
</article>

<aside>
   @Html.ResizedImage(image.FilePath, width:250, height:190, htmlAttributes: new {alt = "Lolcats"}) 

     <p>@Html.Raw((string)Model.ContentItem.HotelPart.DestinationPart.Quote.Value)</p>
     @Display.GoogleMap(Markers: HtmlHelperMapExtensions.ToMapJson(Html, Model, false), Width: "320", Height: "260")

    

    <div id="book">
        <h4>Book with @title</h4>
        <a href="@Model.ContentItem.HotelPart.ReservationUrl.Value">
            Book Now
        </a>
    </div>
</aside>