@using Summit.Core.Extensions
@using Summit.Core.Models

@{ Layout.Title = (string)Model.Title; }

@Display(Model.Header)
@Display(Model.Actions)
<div class="manage"><a href="@Url.HotelCreate((DestinationPart)Model.ContentItem.Get(typeof(DestinationPart)))" class="add button primaryAction">@T("New Hotel")</a></div>
@Display(Model.Content)